@keyframes open-anim {
  0% {
    width: 0;
    height: 100vh;
  }
  100% {
    width: 100vw;
    height: 100vh;
  }
}

@keyframes close-anim {
  0% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 0;
    height: 100vh;
  }
}

.burger {
  position: fixed;
  top: 3rem;
  right: 3rem;
  font-size: 2rem;
  z-index: 1000;
  cursor: pointer;
  color: var(--primary-color);
}

.burgerOpened {
  filter: invert(100%);
}

.navMenu {
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  z-index: 999;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navMenuClosed {
  display: none;
}

.navMenuOpen {
  animation: open-anim 0.2s ease-in forwards;
}

.navMenuClose {
  animation: close-anim 0.2s ease forwards;
}

.menuItem {
  text-decoration: none;
  z-index: inherit;
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: 'Ibarra Real Nova', serif;
  font-size: clamp(1.5rem, 8vw, 3rem);
  z-index: 500;
  color: white;
}

@media screen and (min-width: 59rem) {
  .burger {
    display: none;
  }
}
