.title {
  text-align: center;
  font-weight: 100;
  color: var(--primary-color)
}

.form {
  max-width: 65%;
  margin: auto;
}

.formRow {
  padding: 0.75rem;
}

.multiFieldRow {
  display: flex;
}

.multiFieldRow > * + * {
  padding-left: 0.5rem;
}

@media (max-width: 60rem) {
  .form {
    max-width: 85%;
  }
}
