.title {
  text-align: center;
}

.homeContainer {
  width: 100%;
  height: auto;
  background-image: url(../../public/images/front-page/front-page.jpg);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 40rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.15rem;
}

.homeContainer > div {
  margin-top: auto;
}

.title{
  padding: 0;
  margin: 0;
  font-weight: 100;
  text-align: center;
}

.subTitle {
  text-align: center;
  padding-top: 1rem;
  margin: 0;
  font-weight: 100;
}