html,
body {
  padding: 0;
  margin: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  display: block;
  max-width: min(100%, 60rem);
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: #f6f6f6;
  overflow-x: hidden !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  background-color: #ffffff;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-radius: 3px;
}

:root {
  --primary-color: #a47148;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

@media screen and (min-width: 59rem) {
  .burger {
    display: none;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
