.title {
  text-align: center;
  font-family: garamond-premier-pro-display;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0.125rem;
  color: var(--primary-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigationContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.line {
  border: 0;
  border-bottom: 1px solid #bbb;
  width: 10rem;
}

.subTitleLine {
  display: none;
  margin: auto;
  border: 0;
  border-bottom: 1px solid #bbb;
  padding-top: 1.5rem;
  width: 80%;
  color: var(--primary-color);
}

.menuItem {
  padding: 1rem;
  border-radius: 3px;
  transition: all 30ms ease-in;
  color: var(--primary-color);
}

.menuItem:hover,
.activeMenu {
  opacity: 1;
  font-weight: 400;
  text-decoration: underline;
}

.nonActiveMenu {
  opacity: 0.5;
}

.burger {
  position: fixed;
  top: 3.6rem;
  right: 1.5rem;
  font-size: 2rem;
  z-index: 1000;
  cursor: pointer;
  display: none;
  color: var(--primary-color);
}

.burgerOpened {
  color: white;
}

.burgerMenu {
  position: absolute;
  background-color: var(--background-color);
  top: 0;
  right: 0;
  z-index: 999;
  overflow: hidden !important;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burgerMenuClosed {
  display: none !important;
}

.navMenuOpen {
  animation: open-anim 0.2s ease-in forwards;
}

.navMenuClose {
  animation: close-anim 0.2s ease forwards;
}

@keyframes open-anim {
  0% {
    width: 0;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }
  100% {
    width: 100vw;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }
}

@keyframes close-anim {
  0% {
    width: 100vw;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }
  100% {
    width: 0;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }
}

@media (max-width: 59rem) {
  .line {
    display: none;
  }

  .title {
    font-size: 2rem;
    line-height: 1rem;
  }

  .burger {
    display: inherit;
  }

  .navigationContainer {
    display: none;
  }

  .burgerMenu {
    display: flex;
  }

  .subTitleLine {
    display: inherit;
  }
}
